<header>
   
    <nav>
      <div class="header-container">
         
       <div class="logo">
       
          <a href=""><img src="assets/img/logo.png"></a>
       </div>
       
       <div (click)="showMenu()" class="mobile-menu hide-menu"><img src="assets/img/6593477_menu-png-white-menu-icon-svg-png-download-removebg-preview.png"></div>
       <div id="menu" class="overlay-menu hide-mobile">
         <div (click)="closeMenu()" class="hide-menu">X</div>
       <!-- <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#portfolio">PORTFOLIO</a></li>
            <li><a href="#aboutme">ABOUT ME</a></li>
       
         </ul>
         --> 
       </div>
       <div class="menu">
          <ul>
             <li><a href="#">HOME</a></li>
             <li><a href="#portfolio">PORTFOLIO</a></li>
             <li><a href="#aboutme">ABOUT ME</a></li>
        
            
          </ul>
       </div>

    </div>
    </nav>
 </header>
