header{
    
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(37, 37, 37);
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.header-social img{

    height: 25px;
    width: 25px;
}

.header-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 150px;
    
}

.header-link{

    display: flex;
    
}

.header-link img{
    
    height: 25px;
    width: 25px;
}


.header-container a{

    color: white;
    margin-left: 50px;
    text-decoration: none;
    
}

.header-container a:hover{

    color: #00e3aa;
    text-decoration: underline;

}

.header-logo img{

    height: 60px;
    width: 65px;
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    
}

.menu {

    font-family: 'Open Sans', sans-serif;
    
}

.burger-menu {

    position: absolute;
    right: 15px;
    top: 30px;
    cursor: pointer;

}


.showOverlayMenu {

    transform: translateX(0);

}

.menu ul li a {
    
    color: #00e3aa;

}

nav ul li a:hover {

    text-decoration: underline;
    color: white;
}

.d-none {

    display: none;
}



@media (max-width: 800px){

   .header-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;

   }

   .hide-mobile {

    display: none;
   
    }
   


}
    