<header>
   <div class="header-container">
   
      <div class="header-logo">
      <img src="assets/img/logo.png">

   </div>
   <div (click)="showMenu()" class="menu-bar d-none">
      <img src="assets/img/6593477_menu-png-white-menu-icon-svg-png-download-removebg-preview.png">
   </div>
   <div class="header-link menu">
      <a href="">Home</a>
      <a href="#portfolio">Portfolio</a>
      <a href="#aboutme">About Me</a>
      <a href="#contact">Contact</a>
    
   </div>

  
   

</div>
 </header>



 <!--
       <div id="menu" class="overlay-menu d-none" >
          <div (click)="closeMenu()" class="close-menu"><button class="btn">close</button></div>
         <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#portfolio">PORTFOLIO</a></li>
            <li><a href="#aboutme">ABOUT ME</a></li>
       
         </ul>

       </div>-->