.about {

    padding-left: 150px;
    padding-right: 150px;
    

}

.about-container {

    
    color: #00e3aa;
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
   
    
    
}

.aboutContainer span {

    color: white;

}

.images {

    padding-left: 70px;
    padding-right: 70px;
}

.images img{

    height: 250px;
    width: 250px;
    border-radius: 100%;
    object-fit: cover;
    
}



.aboutContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    

}

.slogan span{

    font-size: 20px;
    
}


.textArea {

    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    
}

.text1{

    margin-right: 40px;
}

.text2 {

    margin-right: 40px;

}


.textArea h3 {

    text-align: center;
    color: #00e3aa;
    font-size: 30px;

}

.textArea span {

    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    
}


@media (max-width: 800px){

    .aboutContainer {

        display: flex;
        flex-direction: column;
    }

    .slogan {

        display: flex;
        padding-top: 20px;
        text-align: center;


    }

    .slogan span {

        padding: 20px;
    }

    .text1 {

        margin-right: 0px;
        text-align: center;
    }

    .text2 {

        margin-right: 0px;
        text-align: center;
    }
    .textArea {
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
    
    }


    
    
}