<div class="about">

<div class="about-container" id="aboutme">

    <h2>About Me</h2>
</div>



<div class="aboutContainer">

    <div class="images">
        <img src="assets/img/PicturePeople_Business (2 von 4).jpg">
    </div>
    <div class="slogan">
        <span>" I'm an enthusiastic front end developer who wants to learn more "</span>
    </div>

</div>


<div class="textArea">

    <div class="text1">
        <h3>Work Experience</h3>
        <span>I have started my working experience with an insurance company. After this, I´ve gained experience in different kinds of jobs, for example as a salesman, as an office manager and finally, for the past 3 years, I´ve been a commercial clerk at a law firm.</span>
    </div>
    <div class="text2">
        <h3>Why IT?</h3>
        <span>I have always been fascinated by computers, videogames, IT and new technologies. I have started to question the logic behind systems. I not only wanted to understand how they work, but also I wanted to be able to create apps on my own.</span>
    </div>
    <div class="text3">
        <h3>Front-End Developer</h3>
        <span>In January 2021, I decided to begin a continuing education as a front-end developer. I have learned how to work in groups and build apps with different languages, such as JavaScript, TypeScript and the Framework Angular.</span>

    </div>


</div>

</div>