<div class="about-container">

    <h2>ABOUT ME</h2>
</div>



<div class="aboutContainer">

    <div class="images">
        <img src="assets/img/max.jpg">
    </div>
    <div class="slogan">
        <span>" I'm a sports enthusiastic front end developer who wants to learn more "</span>
    </div>

    
   
</div>


<div class="textArea">

    <div class="text">
        <h3>Work Experience</h3>
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit.Assumenda saepe nulla voluptatem aspernatur tenetur, iure consequatur beatae blanditiis quis veniam dolorum.</span>
    </div>
    <div class="text">
        <h3>Why IT?</h3>
        <span>I have always been fascinated by computers, IT and new technologies. With the ongoing shift to a digital economy, I have started to question the logic behind systems. I wanted to understand not only how they work, but also I wanted to create apps on my own.</span>
    </div>
    <div class="text">
        <h3>Front-End Developer</h3>
        <span>In Janurary, I have seized the opportunity and decided to beginn an education as a Front-End developer. I have learned how to work within groups and build apps with different languages such as JavaScript, TypeScript and the Framework Angular.</span>

    </div>


</div>