

.headline{

    padding-top: 70px;
    color: #00e3aa;
    text-align: center;
    font-size: 30px;

}

.skill-images {
    
    padding-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}
.skill-images p {

    display: flex;
    align-items: center;
    justify-content: center;
}


.skill-images img {

    height: 70px;
    width: 71px;

}

.skill-images p{

    color: white;

}

