.skills-section {

    color: white;
    
}

.skill-image img{

    height: 25px;
    width: 25px;
}

.skills-data {

        display: flex;
        justify-content: space-between;
        width: 50%;
        align-items: center;
        position: relative;
        padding: .5rem 1rem;
        border-radius: .5rem;
        box-shadow: 0px 4px 10px #00e3aa;

}

.skills-html{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #00e3aa;
    height: .25rem;
    border-radius: .5rem;
    width: 95%;
}

.skills-css{

    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #00e3aa;
    height: .25rem;
    border-radius: .5rem;
    width: 85%;
    
}

.skills-angular{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #00e3aa;
    height: .25rem;
    border-radius: .5rem;
    width: 65%;

}

.skills-js{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #00e3aa;
    height: .25rem;
    border-radius: .5rem;
    width: 65%;


}