

<div class="headline" id="skills">

    <h2>MY SKILLS</h2>
    
</div>
<div class="skill-container">

    <div class="skill-images">

       <div class="image"><img src="assets/img/java script.png"><p>HTML</p></div> 
       <div class="image"><img src="assets/img/css.png"><p>CSS</p></div>
       <div class="image"><img src="assets/img/js.png"><p>Javascript</p></div>  
       <div class="image"><img src="assets/img/angular.png"><p>Angular</p></div>

    </div>


</div>

<div class="skill-container2">

    <div class="skill-images">

        <div class="image"><img src="assets/img/database-5-64.png"><p>database</p></div> 
        <div class="image"><img src="assets/img/icons8-rest-api-80 2.png"><p>Rest API</p></div> 
        <div class="image"><img src="assets/img/Group 226.png"><p>Scrum</p></div> 
        <div class="image"><img src="assets/img/Git-Icon-1788C 2.png"><p>GIT</p></div> 
        
 
     </div>
    
</div>

