<div class="port-headline">

    <h2>MY PORTFOLIO</h2>

</div>

<div class="portfolio">
    <div class="images"><img src="assets/img/ElPollo.png"></div>
    <div class="headline">
        <h2>El Pollo Loco</h2>
        <span>This is a Mexican Jump and Run Game. <br> You have to jump over chickens and collect Tabasco. <br> In the final level, you have to defeat the Pollo Loco.</span>
        
    </div>
   
</div>

<div class="portfolio">
    
    <div class="headline">
        <h2>JOIN</h2>
        <span>This is a task manager app.<br> After you have created the task, it will be your work be easier.</span>
        
    </div>
    <div class="images"><img src="assets/img/join.png"></div>
   
</div>

<div class="portfolio">
    <div class="images"><img src="assets/img/ElPollo.png"></div>
    <div class="headline">
        <h2>El Pollo Loco</h2>
        <span>This is a Mexican Jump and Run Game. <br> You have to jump over chickens and collect Tabasco. <br> In the final level, you have to defeat the Pollo Loco.</span>
        
    </div>
   
</div>

<div class="portfolio">
    
    <div class="headline">
        <h2>JOIN</h2>
        <span>This is a task manager app.<br> After you have created the task, it will be your work be easier.</span>
        
    </div>
    <div class="images"><img src="assets/img/join.png"></div>
   
</div>




