<!--===== WORK =====-->
<section class="port-section">
    <h2 class="port-title">Portfolio</h2>

    <div class="port-container">
        <div class="port-img">
            <img src="assets/img/placeholder.jpg" alt="">
        </div>
        <div class="port-img">
            <img src="assets/img/placeholder.jpg" alt="">
        </div>
        <div class="port-img">
            <img src="assets/img/placeholder.jpg" alt="">
        </div>
    </div>

    <div class="port-container2">

        <div class="port-img">
            <img src="assets/img/placeholder.jpg" alt="">
        </div>
        <div class="port-img">
            <img src="assets/img/placeholder.jpg" alt="">
        </div>
        <div class="port-img">
            <img src="assets/img/placeholder.jpg" alt="">
        </div>


    </div>
</section>