
.port-headline {

    padding-top: 100px;
    color: #00e3aa;
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;

}

.portfolio-el {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
   
}

.portfolio-el img{

    width: 450px;
    height: 270px;
    border-radius: 10px;
    
}

.portfolio-el img:hover {

    transform: scale(1.1);
    transition: transform .8s ease-in-out;
}

.portfolio-join {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
   
}

.portfolio-join img{

    width: 450px;
    height: 270px;
    border-radius: 10px;
    
}

.portfolio-join img:hover {

    transform: scale(1.1);
    transition: transform .8s ease-in-out;
}

.headline {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 80px;
    
    
}

.portfolio-liefer {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
   
}

.portfolio-liefer img{

    width: 450px;
    height: 270px;
    border-radius: 10px;
    
}

.portfolio-liefer img:hover {

    transform: scale(1.1);
    transition: transform .8s ease-in-out;
}

.portfolio-quiz {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
   
}

.portfolio-quiz img{

    width: 450px;
    height: 270px;
    border-radius: 10px;
    
    
}

.portfolio-quiz img:hover {

    transform: scale(1.1);
    transition: transform .8s ease-in-out;
}

.headline h2 {

    color: #00e3aa;

}

@media (max-width: 800px){

    .portfolio-el {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       
    }
    
    .portfolio-el img{
    
        width: 360px;
        border-radius: 10px;
        object-fit: cover;
        height: 260px;
        
    }

    .portfolio-join {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
       
    }
    
    .portfolio-join img{
    
        width: 360px;
        border-radius: 10px;
        object-fit: cover;
        height: 260px;
        
    }
    
    
    .portfolio-liefer {
    
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
        flex-direction: column;
       
    }
    
    .portfolio-liefer img{
        width: 360px;
        border-radius: 10px;
        object-fit: cover;
        height: 260px;
        
    }
    
    .portfolio-quiz {
    
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
        flex-direction: column-reverse;
       
    }
    
    .portfolio-quiz img{
    
        width: 360px;
        border-radius: 10px;
        object-fit: cover;
        height: 260px;
        
    }

    

    .headline {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        
        
    }
    

}