<div class="port-headline" id="portfolio">

    <h2>MY PORTFOLIO</h2>

</div>

<div class="portfolio"  >
    <a href="http://maximilian-kraemer.developerakademie.com/ElPollo/index.html"><div class="images"><img src="assets/img/ElPollo.png"></div></a>
    <div class="headline">
        <h2>El Pollo Loco</h2>
        <span>This is a Mexican Jump and Run Game. <br> You have to jump over chickens and collect Tabasco. <br> In the final level, you have to defeat the Pollo Loco.</span>
        
    </div>
    
   
</div>

<div class="portfolio">
    
    <div class="headline" >
        <h2>JOIN</h2>
        <span>This is a task manager app.<br> After you have created the task, it will be your work be easier.</span>
        
    </div>
    <a href="http://maximilian-kraemer.developerakademie.com/Join/html/login-submit.html"><div class="images"><img src="assets/img/Join.png"></div></a>
   
</div>

<div class="portfolio">
    <a href="http://maximilian-kraemer.developerakademie.com/Lieferando/index.html"><div class="images"><img src="assets/img/Lieferexpress.png"></div></a>
    <div class="headline">
        <h2>Lieferexpress</h2>
        <span>This app makes easy online food ordering possible.</span>
        
    </div>
   
</div>

<div class="portfolio">
    
    <div class="headline">
        <h2>Miami Quiz</h2>
        <span>A Javascript Quiz App of my favorite city in the world.</span>
        
    </div>
    <a href="http://maximilian-kraemer.developerakademie.com/Quiz/quiz.html"><div class="images"><img src="assets/img/quiz.png"></div></a>
   
</div>




