.headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
    padding-left: 80px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    
}

.headline h1{

    font-size: 60px;
}

.headline img{

    height: 450px;
    width: 450px;
    object-fit: cover;
    border-radius: 50%;
}