   <!--===== HOME =====-->
   
<section class="headline-container" id="home">
    
        <div class="headline-title-container">
        
            <h1 id="headline" *ngIf="showHeadline" class="fadeIn hide-mobile">{{ headlines[currentHeadlines] }}</h1>
            
        </div>

        <div id="image" class="headline-image">    
        
            <img src="assets/img/PicturePeople_Business (4 von 4).jpg">
    
        </div>

        <div class="mobile-headline show-mobile"><h2>Hi, Im Max Kraemer Junior Front End Developer</h2></div>

</section>

<div class="headline-contact">
    <a href="#contact" class="button">Contact</a>
    
    </div>


