.headline-container{

    display: flex;
    justify-content: space-between;
    padding-top: 170px;

}

.headline-title {

    color: white;
    font-size: 56px;
    
}

.headline-contact{

    padding-bottom: 50px;
}

.button{
    display: inline-block;
    background-color: #00e3aa;
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem; 

    &:hover{
        box-shadow: 0px 10px 36px rgba(0,0,0,.15);
    }
}

.headline-image img {

    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;

}

