.headline-container{

    display: flex;
    justify-content: space-between;
    padding-top: 170px;
    padding-left: 150px;
    padding-right: 150px;
    

}

.headline-title {

    color: white;
    font-size: 56px;
    
}

.headline-contact{

    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.button{
    display: inline-block;
    background-color: #00e3aa;
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem; 
    text-decoration: none;
    

    
}

.button:hover {

    opacity: 1;
    background-color: white;
    color: #00e3aa;

}

.headline-image img {

    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;

}

