body {

    color:white;
}

.headline {

    

}

.headline-container{
    
    
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-left: 80px;
    padding-right: 80px; 
    padding-bottom: 50px;
    
}

#inner p:nth-of-type(1) .a:nth-child(5) {
    color: green;
}

.headline-container img{
    
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
}


.fadeIn {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    font-size: 50px;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}

}   

.header-arrow {

    display: flex;
    justify-content:center;
}

.header-arrow img {

    height: 40px;

}

.d-none {

    display: none;
}


@media (max-width: 800px){

    .headline-container{
 
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .image img{

        height: 300px;
        width: 300px;
        object-fit: cover;
        border-radius: 50%;

    }

    .headline-mobile {

        display: contents;
        text-align: center;
    
    }

    .headline-mobile h1{

        padding-bottom: 30px;
        font-size: 40px;

    }

    .hide-headline {

        display: none;
    }

   
 
 
 }